body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p,i{
    margin: 0;
    padding:0;
}
ul{
    list-style: none;
}
img,a img{
    border:none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    cursor: pointer;
}